In [ ]:
l1=[1,4,7,3,0]

In [2]:
print(l1[0:])

NameError: name 'l1' is not defined

In [3]:
l1=[1,4,7,3,0]
print(l1[0:])

[1, 4, 7, 3, 0]

In [4]:
l1.sort()
print(l1[0:])

[0, 1, 3, 4, 7]

In [11]:
myDic={
    "name":"Himani",
     "call":987656,
    "marks":[20,85,363]
}
print(myDic['name'])

Himani

In [3]:
a=13
if(a>5):
    print("Hi")

In [4]:
else
    print("BYe")

In [5]:
a=13
if(a>5):
    print("Hi")
else:
    print("BYe")

In [8]:
myDic={
    "name":"Himani",
     "call":987656,
    "marks":[20,85,363]
}
print(myDic['name'])

In [1]:
myDic={
    "name":"Himani",
     "call":987656,
    "marks":[20,85,363]
}
print(myDic['name'])

Himani

In [2]:
a=13
if(a>5):
    print("Hi")

Hi

In [4]:
age=int(input("Enter your age"))
if(age>18):
    print("An adult")

Enter your age25
An adult

In [1]:
a=None
if(a is None):
    print("YEs")
else:
    print("No")

YEs

In [7]:
a=[45,65,75]
print(45 in a)

True

In [3]:
i=0
while i<10:
    print("hi")
    i+=2

hi
hi
hi
hi
hi

In [4]:
fruit=['banana','orange','mango']
i=0
while i<len(fruit):
    print(fruit[i])
    i+=1

banana
orange
mango

In [6]:
fruit=['banana','orange','mango']
for item in fruit:
    print(item)

banana
orange
mango

In [9]:
for i in range(1,8):
    print(i)
else:
    print("Done")

1
2
3
4
5
6
7
Done

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
ev = pd.read_csv("C:\\Users\\Himani\\Desktop\\pp/output.csv")
print(ev.shape)

(299, 14)

In [5]:
NAs = pd.concat([ev.isnull().sum()], axis=1, keys=["EV"])
NAs[NAs.sum(axis=1) > 0]

                   EV
donechargingTime    1
userID            298
userInput         298

In [6]:
ev["donechargingTime"] = ev["donechargingTime"].fillna(ev["donechargingTime"].mode()[0])

In [7]:
NAs = pd.concat([ev.isnull().sum()], axis=1, keys=["EV"])
NAs[NAs.sum(axis=1) > 0]

            EV
userID     298
userInput  298

In [8]:
ev.pop("userID")
ev.pop("userInput")

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
294    NaN
295    NaN
296    NaN
297    NaN
298    NaN
Name: userInput, Length: 299, dtype: object

In [9]:
for col in ev.dtypes[ev.dtypes == "object"].index:
    for_dummy = ev.pop(col)
    ev = pd.concat([ev, pd.get_dummies(for_dummy, prefix=col)], axis=1)
ev.head()

,clusterId,kWhDelivered,siteId,id_5bc90cb9f9af8b0d7fe77cd2,id_5bc90cb9f9af8b0d7fe77cd3,id_5bc90cb9f9af8b0d7fe77cd4,id_5bc90cb9f9af8b0d7fe77cd5,id_5bc90cb9f9af8b0d7fe77cd6,id_5bc90cb9f9af8b0d7fe77cd7,id_5bc90cb9f9af8b0d7fe77cd8,...,stationID_2-39-89-439,stationID_2-39-90-26,stationID_2-39-90-440,stationID_2-39-91-437,stationID_2-39-91-441,stationID_2-39-92-436,stationID_2-39-92-442,stationID_2-39-95-27,stationID_2-39-95-444,timezone_America/Los_Angeles
0,39,7.932,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,39,10.013,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,39,5.257,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,39,5.177,2,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,39,10.119,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
labels = ev.pop("kWhDelivered")

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(ev, labels, test_size=0.2, random_state=0)

In [28]:

rf = RandomForestRegressor(n_estimators=100,random_state=1)
rf.fit(x_train, y_train)

RandomForestRegressor(random_state=1)

In [31]:
rf.fit(x_train,y_train)
y_predict=rf.predict(x_test)
mean_squared_error(y_test,y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [60, 75]

In [3]:
df= pd.read_csv("C:\\Users\\Himani\\Desktop\\pp/Weather.csv")
print(df.shape)

(299, 11)

In [4]:
df.head()

,Date,Precip Type,temperature,App. Temp,Avg. Humidity,Avg Wind Speed(mph),Wind Bearing(degrees),Visibility(km),Loud Cover,Pressure(millibar),Daily summary
0,"Wed, 25 Apr 2018",rain,24.372222,24.372222,34.846153,13.54,300,9.9015,0,1004.55,Mostly cloudy .
1,"Wed, 25 Apr 2018",rain,24.372222,24.372222,34.846153,13.54,300,9.9015,0,1004.55,Mostly cloudy .
2,"Wed, 25 Apr 2018",rain,24.372222,24.372222,34.846153,13.54,300,9.9015,0,1004.55,Mostly cloudy .
3,"Wed, 25 Apr 2018",rain,24.372222,24.372222,34.846153,13.54,300,9.9015,0,1004.55,Mostly cloudy .
4,"Wed, 25 Apr 2018",rain,24.372222,24.372222,34.846153,13.54,300,9.9015,0,1004.55,Mostly cloudy .